<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <script src="/js/modal.js" defer></script>
  <script src="/js/folderDelete.js" defer></script>
  <title>Document</title>
</head>