<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/sidebar') %>
  <main>
    <header>
      <h1>Home</h1>
    </header>  
    <% if (locals.files.length == 0) { %>
     <p>Create a folder to add files</p>
    <% } %>
    <%- include('../partials/table') %>
    <div class="modal">
      <form action="/folder/new" method="POST">
        <label for="folderName">Folder Name</label>
        <input type="text" name="folderName" required>
        <button type="submit">Add</button>
        <button type="button" class="close-modal-btn">Close</button>
      </form>
    </div>
  </main>
  
</body>
</html>