<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/sidebar') %>
  <main>
    <form action="/" method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <button type="submit">Upload</button>
    </form>
    <table>
      <tr>
        <th>File Name</th>
        <th>Owner</th>
        <th>Date</th>
        <th>Size</th>
      </tr>
    </table>
    <div class="modal">
      <form action="/folder/new" method="POST">
        <label for="folderName">Folder Name</label>
        <input type="text" name="folderName">
        <button type="submit">Add</button>
        <button type="button" class="close-modal-btn">Close</button>
      </form>
    </div>
  </main>
</body>
</html>